.flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    background-color: white;
    flex-direction: row;
}

.nav_bar {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    flex-direction: row;
}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    background-color: white;
    flex-direction: row;
}



.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    text-align: justify ;
    font-family: sans-serif;
    line-height: 2;
    padding: 5px;
    
}

.flex-itemnav {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: justify ;
    font-family: sans-serif;
    line-height: 2;
    padding: 5px;
    
}

.flex-item2 {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-family: sans-serif;
    line-height: 1;
}

.flex-item4 {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-family: sans-serif;
    line-height: 1;
}

.flex-item4 p {
    text-align: center;
    font-family: sans-serif;
    line-height: 2;
    padding: 5px;
}


.flex-containerPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.flex-containerPhoto p {
    font-family: sans-serif;
    line-height: 1;
}

.flex-container3 {
    display: flex;
    background-color: white;
    flex-direction: row;
    border-style: solid;
    border-width: 5px;
}

.flex-item3 {
    padding-top: 9px;
    padding-left: 5px;
}

.flex-item5 {
    font-family: sans-serif;
    line-height: 0.5;
    padding: 5px;
}

body {
    background-image: url("bg_pabiz.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
     
}